@{

    //C#
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<address>
    <strong> For more information, contact @ViewData["email"]</strong>
</address>
